<!doctype html>
<html ng-app="app" ng-cloak>
<head>
    <title>Popular Movies</title>
    
</head>
<body ng-controller="PopularController">
    <div class="row"><center><b>Popular Movies</b></center></div><br /><br />
    <div class="row">
        <hr>
        <div ng-repeat="one in bag">
            <div class="row">
                <div class="col-sm-4">
                    {{$index+1}}:<img class="titleImage gallery-image fade-animation" ng-src="{{'http://image.tmdb.org/t/p/w185/'+one.poster_path}}" />

                    <br />
                </div>
                <div class="col-sm-6">
                    {{one.overview}}
                </div>
            </div>

        </div>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Vlayer/controllers/App.js"></script>

</body>
</html>